.wrapper{
    width: 100%;
    max-width: 1420px;
    padding: 0 20px;
    margin: 0 auto; 
}

.d-flex{
    display: flex;
}
.j-content{
    justify-content: center;
}

.a-style{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    padding: 51px 0 ;
}

.f-direction-row{
    flex-direction: row;
}

.gap-16{
    gap: 16px;
}

.f-wrap{
    flex-wrap: wrap;
}

.gap-220{
    gap: 220px;
}

.pad-140{
    padding: 64px 140px ;
}

.span{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
    text-transform: uppercase;
}

.a{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-decoration: none; 
}

.button{
    margin-left: 300px;
    border: 1px solid #333333;
    padding: 8px 28px;
    text-decoration: none;
    color: #333333;
}

.button-email{
    padding: 4px 8px;
    border: 0;
    color: #828282;
}

.krestik{
    margin-left: 240px;
}


.over{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.over:hover{
    opacity: 1;
}
.main{
    position: relative;
    display: inline-block;
}

.bag{
    position: absolute;
    padding: 144px;
}

.vkl{
    position: absolute;
    padding: 12px 12px 300px 299px;
}

.like{
    position: absolute;
    padding: 296px 141px 16px 141px;
}

.bag1{
    position: absolute;
    padding: 144px;
}

.vkl1{
    position: absolute;
    padding: 12px 12px 652px 650px;
}

.like1{
    position: absolute;
    padding: 640px 141px 16px 142px;
}